// VARS
$white: #fff;
$soft: #8d7370;
$darker: #533738;

%label {
	padding: 65px 0 40px;
	font-size: 40px;
	line-height: 50px;
	color: $darker;
	text-transform: uppercase;
}

%btn {
	display: inline-block;
	background-color: #CC8B86;
	border: none;
	padding: 15px 45px;
	cursor: pointer;
}